{% extends 'base.html' %}

{% load static %}

{% block body %}

    <!-- Sayfa içeriği -->
    <main class="content-wrapper">
      <div class="container py-5 mb-2 mt-n2 mt-sm-1 my-md-3 my-lg-4 mb-xl-5">
        <div class="row justify-content-center">
          <div class="col-lg-11 col-xl-10 col-xxl-9">
            <h1 class="h2 pb-2 pb-sm-3 pb-lg-4">Şirket Politikaları</h1>
            <hr class="mt-0">

            <p>Şirketimiz, etik değerler ve sürdürülebilir iş anlayışı çerçevesinde belirlediği politikalar ile faaliyetlerini yürütmektedir. Aşağıda, şirketimizin benimsediği temel politikaları bulabilirsiniz.</p>

            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <a href="#" class="text-decoration-none text-dark">
                  <div class="text-center">
                    <i class="fas fa-file-pdf fa-3x text-danger"></i>
                    <p class="mt-2">📜 Politika ve Stratejiler</p>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#"class="text-decoration-none text-dark">
                  <div class="text-center">
                    <i class="fas fa-file-pdf fa-3x text-danger"></i>
                    <p class="mt-2">🌿 Çevre Politikası</p>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#" class="text-decoration-none text-dark">
                  <div class="text-center">
                    <i class="fas fa-file-pdf fa-3x text-danger"></i>
                    <p class="mt-2">⚕️ İş Sağlığı ve Güvenliği Politikası</p>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#" class="text-decoration-none text-dark">
                  <div class="text-center">
                    <i class="fas fa-file-pdf fa-3x text-danger"></i>
                    <p class="mt-2">🔐 Bilgi Güvenliği Yönetim Sistemi Politikası</p>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#" class="text-decoration-none text-dark">
                  <div class="text-center">
                    <i class="fas fa-file-pdf fa-3x text-danger"></i>
                    <p class="mt-2">🏆 Kalite Politikası</p>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#" class="text-decoration-none text-dark">
                  <div class="text-center">
                    <i class="fas fa-file-pdf fa-3x text-danger"></i>
                    <p class="mt-2">⚡ Enerji Yönetim Sistemi Politikası</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

{% endblock %}
