{% extends 'base.html' %}

{% load static %}

{% block body %}

    <!-- Sayfa içeriği -->
    <main class="content-wrapper">
      <div class="container py-5 mb-2 mt-n2 mt-sm-1 my-md-3 my-lg-4 mb-xl-5">
        <div class="row justify-content-center">
          <div class="col-lg-11 col-xl-10 col-xxl-9">
            <h1 class="h2 pb-2 pb-sm-3 pb-lg-4">Sosyal Sorumluluk</h1>
            <hr class="mt-0">

            <p>Perde dükkanımız, sadece kaliteli ürünler sunmakla kalmaz, aynı zamanda topluma değer katmayı hedefler. Sosyal sorumluluk projelerimizle, daha sürdürülebilir bir gelecek için katkıda bulunuyoruz.</p>

            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">
                <a href="#" class="text-decoration-none text-dark">
                  <div class="text-center">
                    <i class="fas fa-hand-holding-heart fa-3x text-primary"></i>
                    <p class="mt-2">💙 Topluma Katkı</p>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#" class="text-decoration-none text-dark">
                  <div class="text-center">
                    <i class="fas fa-seedling fa-3x text-success"></i>
                    <p class="mt-2">🌱 Çevresel Sürdürülebilirlik</p>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#" class="text-decoration-none text-dark">
                  <div class="text-center">
                    <i class="fas fa-book-reader fa-3x text-warning"></i>
                    <p class="mt-2">📚 Eğitim Desteği</p>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#" class="text-decoration-none text-dark">
                  <div class="text-center">
                    <i class="fas fa-female fa-3x text-danger"></i>
                    <p class="mt-2">👩‍💼 Kadın Güçlenmesi</p>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#" class="text-decoration-none text-dark">
                  <div class="text-center">
                    <i class="fas fa-users fa-3x text-secondary"></i>
                    <p class="mt-2">🏡 Yerel Topluma Destek</p>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="#" class="text-decoration-none text-dark">
                  <div class="text-center">
                    <i class="fas fa-bolt fa-3x text-info"></i>
                    <p class="mt-2">⚡ Enerji Bilinci</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

{% endblock %}
