{% extends 'base.html' %}

{% load static %}

{% block body %}

    <!-- Sayfa içeriği -->
    <main class="content-wrapper">
      <div class="container py-5 mb-2 mt-n2 mt-sm-1 my-md-3 my-lg-4 mb-xl-5">
        <div class="row justify-content-center">
          <div class="col-lg-11 col-xl-10 col-xxl-9">
            <h1 class="h2 pb-2 pb-sm-3 pb-lg-4">Şartlar ve Koşullar</h1>
            <hr class="mt-0">

            <div class="h6 pt-2 pt-lg-3"><span class="text-body-secondary fw-medium">Son Güncelleme:</span> 2 Mart 2025</div>
            <p>Hoş geldiniz! Bu Şartlar ve Koşullar ("Şartlar"), Nelly Perde web sitesine erişiminizi ve kullanımınızı düzenlemektedir. Lütfen bu Şartları dikkatlice okuyun. Web sitemizi kullanarak bu Şartlara bağlı kalmayı kabul etmiş olursunuz.</p>

            <h2 class="h4 pt-3 pt-lg-4">1. Genel Bakış</h2>
            <p>Nelly Perde, müşterilerine perde ve ev dekorasyon ürünleri sunan bir çevrim içi platformdur. Web sitemizi kullanarak, Nelly Perde'nin doğrudan üretici veya perakendeci olmadığını, yalnızca ürünleri sizlere sunan bir platform olduğunu kabul etmiş olursunuz.</p>

            <h2 class="h4 pt-3 pt-lg-4">2. Kullanım Kuralları</h2>
            <p>Web sitemizde sunduğunuz bilgilerin doğru ve eksiksiz olduğunu onaylıyorsunuz. Hesap bilgilerinizin gizliliğini korumak sizin sorumluluğunuzdadır. Hesabınızın yetkisiz kullanımından doğan kayıplardan Nelly Perde sorumlu değildir.</p>
            <h3 class="h6">Şunları yapamazsınız:</h3>
            <ul class="gap-3">
              <li>Web sitesine zararlı yazılım yüklemek veya teknik altyapıya zarar vermek.</li>
              <li>Ticari amaçlarla web sitesini izinsiz kullanmak.</li>
              <li>Diğer kullanıcıların bilgilerini toplamak veya saklamak.</li>
              <li>Web sitesinin işleyişine zarar vermek veya saldırıda bulunmak.</li>
              <li>Nelly Perde'nin marka, logo veya diğer fikri mülkiyet haklarını izinsiz kullanmak.</li>
            </ul>

            <h2 class="h4 pt-3 pt-lg-4">3. Sipariş ve Teslimat</h2>
            <p>Sipariş verirken bilgilerinizi doğru girdiğinizden emin olun. Ürünlerin stok durumu değişebilir ve siparişleriniz belirlenen teslimat süresinden sapabilir.</p>

            <h2 class="h4 pt-3 pt-lg-4">4. Ödeme</h2>
            <p>Nelly Perde, ödeme işlemlerini üçüncü taraf ödeme sağlayıcıları aracılığıyla gerçekleştirir. Ödeme yaparak, doğru ödeme bilgileri sağladığınızı ve ücretin tahsil edilmesine izin verdiğinizi kabul edersiniz.</p>

            <h2 class="h4 pt-3 pt-lg-4">5. Kullanıcı Davranışları</h2>
            <p>Web sitemizi yasalara ve kurallara uygun şekilde kullanmalısınız. Kötü niyetli veya zarar verici davranışlar hesabınızın askıya alınmasına veya iptal edilmesine neden olabilir.</p>

            <h3 class="h6 pt-2">Fikri Mülkiyet</h3>
            <p>Nelly Perde'nin web sitesinde yer alan tüm içerikler (yazılar, görseller, logolar vb.), şirketin mülkiyetindedir ve telif hakkı yasalarıyla korunmaktadır. İzinsiz kopyalama veya dağıtım yapılamaz.</p>

            <h2 class="h4 pt-3 pt-lg-4">6. Tüm Anlaşma ve Bölünebilirlik</h2>
            <p>Bu Şartlar, sizinle Nelly Perde arasındaki tam anlaşmayı oluşturur. Herhangi bir hükmün mahkeme tarafından geçersiz bulunması durumunda, kalan hükümler yürürlükte kalacaktır.</p>

            <h2 class="h4 pt-3 pt-lg-4">7. İletişim</h2>
            <p>Eğer herhangi bir sorunuz varsa, bizimle aşağıdaki yollarla iletişime geçebilirsiniz:</p>
            <ul class="list-unstyled pb-1">
              <li class="nav pt-1">
                <a class="nav-link align-items-start fs-base p-0" href="tel:+900000000000">
                  <i class="ci-phone fs-xl mt-1 me-2"></i>
                  +90&nbsp;000&nbsp;000&nbsp;00&nbsp;00
                </a>
              </li>
              <li class="nav pt-1">
                <a class="nav-link align-items-start fs-base p-0" href="mailto:info@nellyperde.com">
                  <i class="ci-mail fs-xl mt-1 me-2"></i>
                  info@nellyperde.com
                </a>
              </li>
              <li class="nav pt-1">
                <a class="nav-link align-items-start fs-base p-0" href="#">
                  <i class="ci-map-pin fs-xl mt-1 me-2"></i>
                  İstanbul, Türkiye
                </a>
              </li>
            </ul>
            <p class="pb-3 mb-0">Müşteri hizmetleri için lütfen <a class="fw-medium" href="help-topics-v1.html">Yardım Merkezi</a> sayfamızı ziyaret edin.</p>

            <hr class="my-3 my-lg-4">

            <h2 class="h5 pt-3 mb-lg-4">Bu bilgiler size yardımcı oldu mu?</h2>
            <div class="d-flex gap-3">
              <button type="button" class="btn btn-outline-secondary">
                <i class="ci-thumbs-up fs-base me-2 ms-n1"></i>
                Evet
              </button>
              <button type="button" class="btn btn-outline-secondary">
                <i class="ci-thumbs-down fs-base me-2 ms-n1"></i>
                Hayır
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>

{% endblock %}
